<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TestBox</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <jsp-config>
		<jsp-property-group>
			<url-pattern>/view/*</url-pattern>
			<include-prelude>/common/head.jsp</include-prelude>
			<include-coda>/common/footer.jsp</include-coda>
		</jsp-property-group>
	</jsp-config>
	

	
	<servlet>
		<servlet-name>BoardController</servlet-name>
		<servlet-class>controller.BoardController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>BoardController</servlet-name>
		<url-pattern>/board/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adminBoardController</servlet-name>
		<servlet-class>controller.AdminBoardController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminBoardController</servlet-name>
		<url-pattern>/adminboard/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adminCampController</servlet-name>
		<servlet-class>controller.AdminCampController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminCampController</servlet-name>
		<url-pattern>/admincamp/*</url-pattern>
	</servlet-mapping>

	
	<servlet>
      <servlet-name>UserdataController</servlet-name>
      <servlet-class>controller.UserdataController</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>UserdataController</servlet-name>
      <url-pattern>/userdata/*</url-pattern>
   </servlet-mapping>
	
	<servlet>
		<servlet-name>ReserveController</servlet-name>
		<servlet-class>controller.ReserveController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ReserveController</servlet-name>
		<url-pattern>/reserve/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CampController</servlet-name>
		<servlet-class>controller.CampController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CampController</servlet-name>
		<url-pattern>/camp/*</url-pattern>
	</servlet-mapping>
  
 
</web-app>